{% extends 'AppBundle::base.html.twig' %}

{% block menu %}
    <h2>MENU</h2>
    <a href="{{ path('homepage') }}">Home</a>
    <a href="{{ path('authorization') }}">Authorization</a>
    <a href="{{ path('registration') }}">Registration</a>
{% endblock %}
