{% extends 'AppBundle:Default:index.html.twig' %}

{% block body %}
    <div class="col-xs-12 col-sm-12 col-md-12 green">
        <h3>Secret</h3>

        <div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <b>IS_AUTHENTICATED_FULLY</b>
                <br>
                <i>secret information for </i>
                <b>{{ app.user }}</b>
                <br>
                <a href="{{ path('logout') }}">Logout</a>
            {% else %}
                <i>secret is hidden</i>
            {% endif %}
        </div>
    </div>
{% endblock %}
